<h1>Add a New Fact</h1>

<%= form_for @info do |p| %>
Name:<%= p.text_field :factoid %><br />
Gender(m,f):<%= p.text_field :personID %><br />


<%= p.submit "Create New Fact", :class => "button", :onclick => "alert('Success!')" %>

<% end -%>
<div class="btn.btn-small">
	<a href='/facts/'>
  <button class="btn.btn-small">Back To Facts</button>

