<!-- Add new communication page -->
<h1>Add a New Communication</h1>
<!-- Inputs for the attributes -->
<%= form_for @communication do |p| %>
Content:<%= p.text_field :name %><br />
Theme:<%= p.text_field :gender %><br />
<!-- Create new pop up button to indicate success -->
<%= p.submit "Create New Communication", :class => "button", :onclick => "alert('Success!')" %>
<% end -%>
<!-- Button to go back to the people main page -->
<div class="btn.btn-small">
	<a href='/communications/'>
		<button class="btn.btn-small">Back To Communications</button>