<!-- Table storing User information from the users database -->
<table border="3" cellpadding="7">
<tr><th>Username</th>
	<th>Password Hash</th>
</tr>
  <td><b><%=user.username%></b></td>
  <td><%=user.password_hash %></td>
</table>



