<!-- Table storing User information from the users database -->
<table border="3" cellpadding="7">
	<tr><th>Username</th>
		<th>Person ID</th>
	</tr>
	<td><b><%=pursuing.username%></b></td>
	<td><%=pursuing.personID%></td>
</table>




