<!-- Update information for Factoids page-->
<h1>Update Facts</h1>
<!--Inputs for the attributes-->
<%= form_for @info do |p| %>
Factoid: <%= p.text_field :factoid %><br />
Associated Person ID: <%= p.text_field :personID %><br />
<%= p.submit "Update Information For The Fact", :class => "button", :onclick => "alert('Success!')" %>
<% end -%>
<!--Button to go back to the people main page-->
<div class="btn-group">
	<a href='/infos/'>
  <button class="btn">Back to Facts</button>
</div>

